<!DOCTYPE html>
<html ng-app="login">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" integrity="sha384-PmY9l28YgO4JwMKbTvgaS7XNZJ30MK9FAZjjzXtlqyZCqBY6X6bXIkM++IkyinN+"
        crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    canvas {
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    }
    </style>
    <!--LINKS BOOTSTRAP-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" integrity="sha384-PmY9l28YgO4JwMKbTvgaS7XNZJ30MK9FAZjjzXtlqyZCqBY6X6bXIkM++IkyinN+" crossorigin="anonymous">
   
</head>

<body>

    <!--BANNER SUPERIOR-->
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <div class="container-fluid">
            <div class="navbar-header"> 
                <img src="https://files.slack.com/files-pri/TEW7A2SC9-FFEAU3W95/go_reclamos3.png" width="120" height="70"></img>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Quienes Somos?</a></li>
                <li><a href="#">Reclamos</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Buscador" name="search">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </nav>

    <!--PARTE DE CONTENIDO PARTE 1-->
    <br><br>
    <div class="row" ng-controller="ctrlLogin">
        <div class="col-md-5 col-md-offset-1">
            <img class="img-responsive img-rounded" src="https://images.unsplash.com/photo-1526289375762-27075d038ebd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"
                height="400" width="610">
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body" align="center">
                    <h2><img src="https://github.com/nalore1/Front-End/blob/master/images/Usuario.png?raw=true" width="80" height="70" align="center">
                        Iniciar Sesión </h2> <br><br><br>

                    <p><strong>Nombre de usuario &nbsp &nbsp &nbsp</strong>
                        <input ng-model="usuario" type="text" align="right"></p> <!--LE DEFINO UN NOMBRE CON EL NG-->
            <p><strong>Contraseña &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</strong>
                <input ng-model="contrasena" type="password" align="right" "></p> <!--LE DEFINO UN NOMBRE CON EL NG-->
            <br><br><br>
            <button type=" button" style="background-color: #e3f2fd;" ng-click="hola()" class="btn btn-secondary float-right">Iniciar Sesión</button>
                        <br>
                        <p>¿No tienes cuenta? <a>REGISTRATE</a></p><br>
                </div>
            </div>
        </div>
    </div> <br>

    <!--PARTE DE CONTENIDO PART 2-->
    <!--TABLA-->
    <div class="row">
        <div class="col-md-5 col-md-offset-1">
            <table class="table table-striped table-hover">
                <thead>
                    <tr class="active">
                        <th>Reclamos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>no puedo entrar a mi cuenta por internet ni por la app</td>
                    </tr>
                    <tr>
                        <td>Mala señal llamada e internet</td>
                    </tr>
                    <tr>
                        <td>pesima señal de internet y se cortan todas las llamadas</td>
                    </tr>
                    <tr>
                        <td>Estoy sin internet y sin poder recibir llamadas</td>
                    </tr>
                    <tr>
                        <td>sigo sin cobertura</td>
                    </tr>
                    <tr>
                        <td>sin internet</td>
                    </tr>
                    <tr>
                        <td>problemas internet</td>
                    </tr>
                    <tr class="active" align="right">
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-secondary">Anterior</button>
                                <button type="button" class="btn btn-secondary">Siguente</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>



        <!--BANNER INFERIOR-->
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <div class="container-fluid">
            <div class="navbar-header">
            </div>
            <div class="row">
                <div class="col-md-1" style="text-align:centre;">
                    <br>
                    <br>
                    <strong>Servicios</strong>
                    <address>
                        Moviles<br>
                        Promociones<br>
                        Puntos Club<br>
                    </address>
                </div>

                <div class="col-md-2">
                    <hr>
                    <iframe width="100%" height="100px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                        src="https://maps.google.com/maps?width=100%&height=600&hl=es&coord=-33.4599810478491,-70.5731248855591&q=Dubl%C3%A9%20Almeyda%205640%2C%20%C3%91u%C3%B1oa%2C%20Regi%C3%B3n%20Metropolitana+(go!)&ie=UTF8&t=&z=17&iwloc=B&output=embed"></iframe>


                </div>
                <div class="col-md-2">
                    <br>
                    <br>
                    <strong>Sucursales</strong>
                    <address>
                        -Duble Almeyda 5640<br>
                        -Estacion Central 123<br>
                        -Vicuña Mackena 666<br>
                    </address>

                </div>
                <div class="col-md-6">

                    <h2>Siguenos</h2>
                    <div class="col-md-1">
                        <img class="img-rounded" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjvoE57rja2gZypSeySagMXeHkghqdWFmC221DeJRZubPe4FIG"
                            width="35" height="35"></img>
                    </div>

                    <div class="col-md-1">
                        <img src="https://banner2.kisspng.com/20180404/pew/kisspng-youtube-play-button-computer-icons-clip-art-youtube-5ac595c5882749.5166607015228983735577.jpg"
                            width="35" height="35"></img>
                    </div>

                    <div class="col-md-1">
                        <img src="https://static.lamusica.com/wp-content/uploads/sites/14/2013/04/Twitter.png" width="35"
                            height="35"></img>
                    </div>


                </div>


            </div>

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
            <script type="text/javascript" src="C:\Users\Administrator\Desktop\Lorenis\LOGGIN\login.js"></script>
            <script src="C:\Users\Administrator\Desktop\Lorenis\utils.js"></script>
            <script src="C:\Users\Administrator\Desktop\Lorenis\Chart.bundle.js"></script>
</body>

</html>